/* === VARIABLES AND GLOBAL VALUES === */
:root {
    /* Sets Primary Colour */
    --color-primary: #FA4A0C;

    /* Greys */
    --color-grey: #737373;
    --color-light-grey: #BDBDBD;
    --color-divider: #E4E4E4;
    --color-grey-footer: #5C5C5C;

    /* Black/White */
    --color-black: #252B42;
    --color-white: #fff;
    --color-offwhite: #FAFAFA;

    /* Translucent Colours */
    --color-botbanner: #252B4266;
    --color-topbanner: #17101099;
    --color-transparent: #ffffff00;
    --color-grey-translucent: #73737389;

    /* Font Weights */
    --fontweight-reg: 500;
    --fontweight-med: 600;
    --fontweight-bold: 700;

    /* Line Heights */
    --lineheight-h2: 57px;
    --lineheight-h4: 38px;
}

/* ===== MOBILE STYLES ===== */
.container {
    width: 100%;
    background-color: var(--color-white);
}

/* === TEXT STYLE === */
html {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-weight: var(--fontweight-bold);
}

h2 {
    font-size: 2.5rem;
    padding: 10px;
}

h3 {
    font-size: 1.5rem;
}

h4,
h5 {
    color: var(--color-grey);
}

h4 {
    padding: 10px;
    font-size: 1.5rem;
    font-weight: var(--fontweight-reg);
}

h5 {
    font-size: 1rem;
    font-weight: var(--fontweight-bold);
}

button {
    font-family: "Montserrat", sans-serif;
}

/* === ACCESSIBILITY === */
/* Hides skip links when not tabbed. */
.skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: black;
    color: white;
    padding: .5em 1em;
    font-weight: bold;
}

/* Displays the skip links when user is focused on them. */
.skip-links a:focus {
    top: 0;
}

/*========================================================
                    MOBILE STYLES
 ==========================================================*/


/* === NAV STYLES === */

/* Arranges nav items in a manner that they can remain in place while being called. */
.main-nav {
    padding: 17px 16px 17px 16px;
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
}

.nav-symbols {
    display: flex;
    justify-content: space-between;
}

/* Hides main nav list in mobile version*/
#nav-drop {
    display: none;
}

/* NOTE: although I tried to get rid of #nav-drop, getElementsbyClassName returns a list, and not the element like getElementsbyId does. */

/* styles the nav list, sets flex direction of list */
.nav-list {
    margin: 20px auto;
    width: 100%;
    list-style: none;
    flex-direction: column;
}

/* adds padding to nav list */
.nav-list li {
    padding: 15px;
}

/* styles the links in the nav */
.nav-list a {
    width: 100%;
    font-weight: var(--fontweight-med);
    text-decoration: none;
    color: var(--color-black);
}

/* styles the Current page link the primary colour with the same priority as the colour given to all the links in the nav */
.nav-list .current {
    color: var(--color-primary)
}

/* Styles the hamburger menu */
.navbutton {
    margin: auto 0px;
    height: fit-content;
    padding: 0px 10px;
    font-size: 1.5rem;
    color: var(--color-grey-translucent);
    text-decoration: none;
}

/* styles the hamburger menu and the nav-list items when hovered or focused on */
.nav-list li:hover,
.nav-list a:focus,
.navbutton:hover,
.navbutton:focus {
    background-color: var(--color-divider);
    border: none;
}

/* === MAIN HEADER STYLES === */

/* Styles the background of the header and sets items inside to flex */
.mainHeader {
    background-color: var(--color-offwhite);
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 778px;
}

/* Adds space above the header text */
.headerText {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    width: 95%;
}

/* Adds space above the header text */
.headerText h2 {
    line-height: var(--lineheight-h2)
}

/* moves twophones up into the Header Space */
.twophones {
    position: relative;
    top: -150px;
    right: 16px;
}

/* reduces size of area after twophone because of movement upwards */
.twophone-div {
    height: 375px;
}

/* Displays the header buttons in a flex grid and centers them. */
.mainHeader .buttons-group {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Lays out size and shape of header buttons */
.buttonHeader {
    width: 236px;
    height: 68px;
    padding: 16px, 0px, 16px, 0px;
    border-radius: 30px;
}

/* Styles orange buttons */
.buttonOran {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: solid 1px var(--color-primary);
}

/* Styles transparent buttons */
.buttonClear {
    background-color: var(--color-transparent);
    color: var(--color-primary);
}

/* Sets clear header button border to primary */
.mainHeader .buttonClear {
    border: solid 1px var(--color-primary);
}

/* Styles "how the app works" */
.appworks p {
    margin: 50px 0;
    font-weight: var(--fontweight-med);
    font-size: 24px;
}

/* Styles HR for Mobile */
hr {
    border: solid 3px var(--color-divider);
    width: 100%;
}

/* === CONTENT CARD STYLES === */

/* displays cards in flex and gives them a gap between */
.contentcards {
    margin: 60px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

/* Centers card text and gives margins on sides */
.cardText {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    width: 90%;
}

/* styles h2 found in cards */
.card h2 {
    line-height: var(--lineheight-h2);
}

/* styles h3 found in cards */
.card h3 {
    color: var(--color-primary);
}

/* styles h4 found in cards */
.card h4 {
    margin: 0 auto;
    width: 70%;
    line-height: var(--lineheight-h4);
}

/* Adds drop shadow and slight margin to all content images */
.card-image {
    margin: 20px 0;
    filter: drop-shadow(#2E040426 50px 30px 150px 0px);
}

/* === DOWNLOAD SECTION STYLES === */

.download {
    padding: 110px 24px 110px 24px;
    background-color: var(--color-black);
}


.download h2 {
    color: var(--color-white);
}

.download h4 {
    color: var(--color-light-grey);
}

/* Lays out size and shape of App CTA buttons */
.buttonDownload {
    border-radius: 10px;
    font-size: 1rem;
    height: 64px;
    font-weight: var(--fontweight-bold);
}

/* organizes download button group */
.download .buttons-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    max-width: 340px;
    gap: 13px;
}

.d-text {
    margin: 0 0 30px 0;
}

/* styles download clear CTA button */
.download .buttonClear {
    color: var(--color-white);
    border: solid 1px var(--color-white);
    width: 60%;
}

/* styles download orange CTA button */
.download .buttonOran {
    width: 40%;
}

/* === FOOTER STYLES === */

footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

footer .logo {
    display: none;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 170px;
}

.socialmedia img {
    width: 40px;
    height: 40px;
}

footer p {
    font-family: "Roboto", sans-serif;
    color: var(--color-grey-footer);
    padding: 0px, 10px, 0px, 10px;
    font-size: 0.75rem;
}

/*========================================================
                    DESKTOP STYLES
 ==========================================================*/

@media screen and (min-width: 760px) {

    /* === TEXT STYLE === */

    /* === NAV STYLES === */
    .main-nav {
        flex-direction: column;
        justify-content: space-between;
    }

    /* gets rid of hambrug menu */
    .navbutton {
        display: none;
    }

    /* Shrinks nav-symbols down to allow nav list to fit */
    .nav-symbols {
        width: fit-content;
    }

    /* allows nav-list to display */
    #nav-drop {
        display: flex;
    }

    /* converts nav-list to a row */
    .nav-list {
        flex-direction: row;
        justify-content: space-between;
        width: 40%;
        margin: 0 0;
    }

    /* === MAIN HEADER STYLES === */

    .mainHeader-background {
        background: var(--color-black) url(/images/header-background-1540.jpg) no-repeat center;
    }

    .mainHeader {
        justify-content: center;
        height: 619px;
        color: var(--color-white);
        background: var(--color-topbanner);
    }

    .headerText {
        padding: 0;
    }

    .mainHeader h2 {
        font-size: 3.625rem;
        width: 60%;
        margin: 0 auto;
    }

    .mainHeader h4, .mainHeader h5 {
        color: var(--color-white);
        font-size: 1.5rem;
    }

    .mainHeader .buttons-group {
        flex-direction: row;
    }

    .mainHeader .buttonClear {
        color: var(--color-white);
        border: solid 1px var(--color-white);
    }

    .twophones {
        position: relative;
        top: -120px;
        right: 16px;
    }
    
    /* reduces size of area after twophone because of movement upwards */
    .twophone-div {
        height: 575px;
    }
    

    /* swaps order of hr and appworks p */
    .appworks {
        display: flex;
        flex-direction: column-reverse;
    }

    /* Styles hr */
    hr {
        width: 60%;
    }

    /* Gives appworks alternate font */
    .appworks p {
        font-family: "Poppins", sans-serif;
        font-size: 2.75rem;
    }

    /* === CARD SECTION STYLES === */

    .contentcards {
        text-align: left;
    }

    .card {
        width: 65%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 70px;
        /* left: 50%; */
    }

    .card-image {
        margin: 0;
    }

    .contentcards .card:nth-child(odd) {
        flex-direction: row-reverse;
        margin: 0 auto;
        /* right: 25%; */
    }

    .cardText {
        width: 60%;
        max-width: 568px;
    }

    .cardText h4 {
        margin: 0;
    }

    .cardText h4,
    .cardText h2 {
        padding: 0;
    }

    /* === DOWNLOAD SECTION STYLES === */

    .download {
        padding: 0;
        background: var(--color-black) url(/images/download-app-background-1440_x_2174.jpg) no-repeat center;
        width: 100%;
    }

    .download-content {
        height: 209px;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 110px 24px 110px 24px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        gap: 20px;
        background: var(--color-botbanner);
    }

    .download h4 {
        color: var(--color-white);
    }

    .download .buttons-group {
        width: 340px;
        gap: 18px;
    }

    /* === FOOTER STYLES === */

    footer {
        width: 75%;
        margin: 30px auto;
        display: flex;
        flex-direction: row;
        align-content: center;
    }

    .socialmedia {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        width: 170px;
        align-self: center;
    }

    footer .logo {
        display: block;
    }

    footer p {
        align-self: center;
    }
}